body {
    background-image: linear-gradient(45deg, black, rgb(69, 178, 255));
}
#calc-area {
    background-color: rgb(0, 0, 0);
    display: grid;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    top: 35%;
    left: 50%;
    translate: -50% -50%;
}
.calculator {
    background-color: rgb(97, 97, 97);
    border: none;
    border-radius: 4px;
    margin: 3px;
    height: 40px;
    width: 40px;
}
p#result {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    font-size: 20px;
    margin: 3px;
}
.calculator:hover {
    background-color: rgb(67, 67, 67)
}
#zero-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 86px;
}
#equal-btn {
    grid-column: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    height: 90px;
}
